In [2]:
import pandas as pd

# corona statistics 

https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide

In [13]:
! wget "https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-06-24.xlsx"

--2020-06-25 11:37:18--  https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-06-24.xlsx
Resolving www.ecdc.europa.eu (www.ecdc.europa.eu)... 54.240.168.122, 54.240.168.70, 54.240.168.123, ...
Connecting to www.ecdc.europa.eu (www.ecdc.europa.eu)|54.240.168.122|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1191154 (1.1M) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘COVID-19-geographic-disbtribution-worldwide-2020-06-24.xlsx.1’

COVID-19-geographic 100%[===================>]   1.14M  --.-KB/s    in 0.07s

2020-06-25 11:37:18 (15.9 MB/s) - ‘COVID-19-geographic-disbtribution-worldwide-2020-06-24.xlsx.1’ saved [1191154/1191154]

In [14]:
corona = pd.read_excel("COVID-19-geographic-disbtribution-worldwide-2020-06-24.xlsx", parse_dates=True)

In [15]:
corona.head()

     dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
0 2020-06-24   24      6  ...                   AFG   38041757.0          Asia
1 2020-06-23   23      6  ...                   AFG   38041757.0          Asia
2 2020-06-22   22      6  ...                   AFG   38041757.0          Asia
3 2020-06-21   21      6  ...                   AFG   38041757.0          Asia
4 2020-06-20   20      6  ...                   AFG   38041757.0          Asia

[5 rows x 11 columns]

In [16]:
corona.sample(5)

         dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
18338 2020-04-09    9      4  ...                   PAN    4176869.0       America
12385 2020-04-08    8      4  ...                   JAM    2948277.0       America
13532 2020-04-13   13      4  ...                   LVA    1919968.0        Europe
5874  2020-05-10   10      5  ...                   CUB   11333484.0       America
17925 2020-02-25   25      2  ...                   OMN    4974992.0          Asia

[5 rows x 11 columns]

In [17]:
corona.sample(5)

         dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
8107  2020-04-24   24      4  ...                   FRO      48497.0        Europe
9773  2020-04-25   25      4  ...                   GRD     112002.0       America
7543  2020-05-04    4      5  ...                   ERI    3497117.0        Africa
12533 2020-02-24   24      2  ...                   JPN  126860299.0          Asia
8690  2020-06-22   22      6  ...                   GAB    2172578.0        Africa

[5 rows x 11 columns]

In [18]:
corona.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp'],
      dtype='object')

In [19]:
corona.isna().any()

dateRep                    False
day                        False
month                      False
year                       False
cases                      False
deaths                     False
countriesAndTerritories    False
geoId                       True
countryterritoryCode        True
popData2019                 True
continentExp               False
dtype: bool

In [20]:
corona.countriesAndTerritories.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia',
       'Cuba', 'CuraÃ§ao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia',
       'New_Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Sao_Tome_and_Principe', 'Saudi_Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra_Leone', 'Singapore', 'Sint_Maarten',
       'Slovakia', 'Slovenia', 'Somalia', 'South_Africa', 'South_Korea',
       'South_Sudan', 'Spain', 'Sri_Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand',
       'Timor_Leste', 'Togo', 'Trinidad_and_Tobago', 'Tunisia', 'Turkey',
       'Turks_and_Caicos_islands', 'Uganda', 'Ukraine',
       'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Western_Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [22]:
len(corona.countriesAndTerritories.unique())

210

In [21]:
corona['countriesAndTerritories'].value_counts()

Canada                                        177
France                                        177
Belgium                                       177
Iran                                          177
Denmark                                       177
                                             ...
Cases_on_an_international_conveyance_Japan     64
Western_Sahara                                 60
Tajikistan                                     55
Comoros                                        54
Lesotho                                        41
Name: countriesAndTerritories, Length: 210, dtype: int64

In [25]:
population_mean = corona.popData2019.mean()
population_mean

47106591.20736259

In [26]:
corona.popData2019 - population_mean

0       -9.064834e+06
1       -9.064834e+06
2       -9.064834e+06
3       -9.064834e+06
4       -9.064834e+06
             ...
25512   -3.246112e+07
25513   -3.246112e+07
25514   -3.246112e+07
25515   -3.246112e+07
25516   -3.246112e+07
Name: popData2019, Length: 25517, dtype: float64

In [27]:
corona.countriesAndTerritories + ' - ' + corona.continentExp

0        Afghanistan - Asia
1        Afghanistan - Asia
2        Afghanistan - Asia
3        Afghanistan - Asia
4        Afghanistan - Asia
                ...
25512     Zimbabwe - Africa
25513     Zimbabwe - Africa
25514     Zimbabwe - Africa
25515     Zimbabwe - Africa
25516     Zimbabwe - Africa
Length: 25517, dtype: object

In [28]:
corona

         dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
0     2020-06-24   24      6  ...                   AFG   38041757.0          Asia
1     2020-06-23   23      6  ...                   AFG   38041757.0          Asia
2     2020-06-22   22      6  ...                   AFG   38041757.0          Asia
3     2020-06-21   21      6  ...                   AFG   38041757.0          Asia
4     2020-06-20   20      6  ...                   AFG   38041757.0          Asia
...          ...  ...    ...  ...                   ...          ...           ...
25512 2020-03-25   25      3  ...                   ZWE   14645473.0        Africa
25513 2020-03-24   24      3  ...                   ZWE   14645473.0        Africa
25514 2020-03-23   23      3  ...                   ZWE   14645473.0        Africa
25515 2020-03-22   22      3  ...                   ZWE   14645473.0        Africa
25516 2020-03-21   21      3  ...                   ZWE   14645473.0        Africa

[25517 rows x 11 columns]

In [32]:
corona.groupby('countriesAndTerritories').deaths.max()

countriesAndTerritories
Afghanistan       42
Albania            3
Algeria           42
Andorra            4
Angola             2
                  ..
Vietnam            0
Western_Sahara     1
Yemen             44
Zambia             7
Zimbabwe           2
Name: deaths, Length: 210, dtype: int64

In [36]:
corona.groupby(['continentExp']).apply(lambda df: df.loc[df.deaths.idxmax()])

                dateRep  day  ...   popData2019  continentExp
continentExp                  ...
Africa       2020-06-24   24  ...  5.855827e+07        Africa
America      2020-04-16   16  ...  3.290649e+08       America
Asia         2020-06-17   17  ...  1.366418e+09          Asia
Europe       2020-04-04    4  ...  6.701288e+07        Europe
Oceania      2020-04-04    4  ...  2.520320e+07       Oceania
Other        2020-02-29   29  ...           NaN         Other

[6 rows x 11 columns]

In [38]:
corona.groupby(['continentExp']).deaths.agg([len, max])

               len   max
continentExp
Africa        5466   111
America       5257  4928
Asia          6076  2003
Europe        7738  2004
Oceania        916     7
Other           64     2

In [39]:
corona.describe().transpose()

               count          mean  ...         75%           max
day          25517.0  1.576616e+01  ...        23.0  3.100000e+01
month        25517.0  4.120861e+00  ...         5.0  1.200000e+01
year         25517.0  2.019997e+03  ...      2020.0  2.020000e+03
cases        25517.0  3.616824e+02  ...        64.0  5.477100e+04
deaths       25517.0  1.870396e+01  ...         1.0  4.928000e+03
popData2019  25453.0  4.710659e+07  ...  31949789.0  1.433784e+09

[6 rows x 8 columns]

In [40]:
corona.corr()

                  day     month      year     cases    deaths  popData2019
day          1.000000 -0.110026 -0.090516  0.000740 -0.003561    -0.007343
month       -0.110026  1.000000 -0.262057  0.090572  0.054351    -0.086769
year        -0.090516 -0.262057  1.000000  0.009066  0.007911    -0.012204
cases        0.000740  0.090572  0.009066  1.000000  0.810267     0.190112
deaths      -0.003561  0.054351  0.007911  0.810267  1.000000     0.140856
popData2019 -0.007343 -0.086769 -0.012204  0.190112  0.140856     1.000000

In [42]:
avg_by_country = corona.groupby('countriesAndTerritories')[['deaths','cases']].agg([sum]).sort_values(by=('deaths','sum'))
avg_by_country = avg_by_country / 6 * 30
avg_by_country

                               deaths       cases
                                  sum         sum
countriesAndTerritories
Fiji                              0.0        90.0
Timor_Leste                       0.0       120.0
Dominica                          0.0        90.0
Eritrea                           0.0       715.0
Falkland_Islands_(Malvinas)       0.0        65.0
...                               ...         ...
France                       148600.0    806335.0
Italy                        173375.0   1194165.0
United_Kingdom               214635.0   1531050.0
Brazil                       263225.0   5729530.0
United_States_of_America     606140.0  11735110.0

[210 rows x 2 columns]

In [44]:
corona.loc[corona['deaths'].idxmax()]

dateRep                         2020-04-16 00:00:00
day                                              16
month                                             4
year                                           2020
cases                                         30148
deaths                                         4928
countriesAndTerritories    United_States_of_America
geoId                                            US
countryterritoryCode                            USA
popData2019                             3.29065e+08
continentExp                                America
Name: 24510, dtype: object

In [48]:
corona.groupby('countriesAndTerritories').deaths.sum()

countriesAndTerritories
Afghanistan       618
Albania            45
Algeria           861
Andorra            52
Angola             10
                 ...
Vietnam             0
Western_Sahara      1
Yemen             261
Zambia             18
Zimbabwe            6
Name: deaths, Length: 210, dtype: int64

In [49]:
corona.groupby('countriesAndTerritories').deaths.sum().idxmax()

'United_States_of_America'

In [50]:
corona.groupby('countriesAndTerritories').deaths.sum().idxmin()

'Anguilla'

In [56]:
data_cases = {}
for index, row in corona.iterrows():
  data_cases[row['countriesAndTerritories']] = data_cases.get(row['countriesAndTerritories'], 0) +  row['cases']

In [57]:
data_deaths = {}
for index, row in corona.iterrows():
  data_deaths[row['countriesAndTerritories']] = data_deaths.get(row['countriesAndTerritories'], 0) +  row['deaths']