In [1]:
import pandas as pd

# corona statistics 

https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide

In [2]:
! wget "https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-06-28.xlsx"

--2020-06-28 11:26:34--  https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-06-28.xlsx
Resolving www.ecdc.europa.eu (www.ecdc.europa.eu)... 13.224.130.17, 13.224.130.69, 13.224.130.85, ...
Connecting to www.ecdc.europa.eu (www.ecdc.europa.eu)|13.224.130.17|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1229267 (1.2M) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘COVID-19-geographic-disbtribution-worldwide-2020-06-28.xlsx’

COVID-19-geographic 100%[===================>]   1.17M  --.-KB/s    in 0.09s

2020-06-28 11:26:34 (13.3 MB/s) - ‘COVID-19-geographic-disbtribution-worldwide-2020-06-28.xlsx’ saved [1229267/1229267]

In [17]:
corona = pd.read_excel("COVID-19-geographic-disbtribution-worldwide-2020-06-28.xlsx") 
corona

         dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
0     2020-06-28   28      6  ...                   AFG   38041757.0          Asia
1     2020-06-27   27      6  ...                   AFG   38041757.0          Asia
2     2020-06-26   26      6  ...                   AFG   38041757.0          Asia
3     2020-06-25   25      6  ...                   AFG   38041757.0          Asia
4     2020-06-24   24      6  ...                   AFG   38041757.0          Asia
...          ...  ...    ...  ...                   ...          ...           ...
26348 2020-03-25   25      3  ...                   ZWE   14645473.0        Africa
26349 2020-03-24   24      3  ...                   ZWE   14645473.0        Africa
26350 2020-03-23   23      3  ...                   ZWE   14645473.0        Africa
26351 2020-03-22   22      3  ...                   ZWE   14645473.0        Africa
26352 2020-03-21   21      3  ...                   ZWE   14645473.0        Africa

[26353 rows x 11 columns]

In [5]:
corona.head()

     dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
0 2020-06-28   28      6  ...                   AFG   38041757.0          Asia
1 2020-06-27   27      6  ...                   AFG   38041757.0          Asia
2 2020-06-26   26      6  ...                   AFG   38041757.0          Asia
3 2020-06-25   25      6  ...                   AFG   38041757.0          Asia
4 2020-06-24   24      6  ...                   AFG   38041757.0          Asia

[5 rows x 11 columns]

In [6]:
corona.drop(columns=['dateRep', 'geoId', 'countryterritoryCode'], inplace=True)
corona.head()

   day  month  year  ...  countriesAndTerritories  popData2019 continentExp
0   28      6  2020  ...              Afghanistan   38041757.0         Asia
1   27      6  2020  ...              Afghanistan   38041757.0         Asia
2   26      6  2020  ...              Afghanistan   38041757.0         Asia
3   25      6  2020  ...              Afghanistan   38041757.0         Asia
4   24      6  2020  ...              Afghanistan   38041757.0         Asia

[5 rows x 8 columns]

In [9]:
corona.sample()

       day  month  year  ...  countriesAndTerritories  popData2019 continentExp
11569   22      5  2020  ...                Indonesia  270625567.0         Asia

[1 rows x 8 columns]

In [12]:
corona.sample()

       day  month  year  ...  countriesAndTerritories   popData2019 continentExp
11397   14      5  2020  ...                    India  1.366418e+09         Asia

[1 rows x 8 columns]

In [10]:
corona.sample(5)

       day  month  year  ...   countriesAndTerritories  popData2019 continentExp
25384    2      2  2020  ...  United_States_of_America  329064917.0      America
8335     3      6  2020  ...             Faroe_Islands      48677.0       Europe
4538    12      2  2020  ...                    Canada   37411038.0      America
17937   10      1  2020  ...                   Nigeria  200963603.0       Africa
17340   23      5  2020  ...             New_Caledonia     282757.0      Oceania

[5 rows x 8 columns]

In [11]:
corona.sample(5)

       day  month  year  ...  countriesAndTerritories  popData2019 continentExp
12837    3      6  2020  ...                    Japan  126860299.0         Asia
14238   22      6  2020  ...                  Liberia    4937374.0       Africa
9005    26      5  2020  ...                    Gabon    2172578.0       Africa
15257   26      6  2020  ...                 Maldives     530957.0         Asia
9109    29      5  2020  ...                   Gambia    2347696.0       Africa

[5 rows x 8 columns]

In [13]:
corona.columns

Index(['day', 'month', 'year', 'cases', 'deaths', 'countriesAndTerritories',
       'popData2019', 'continentExp'],
      dtype='object')

In [14]:
corona.dtypes

day                          int64
month                        int64
year                         int64
cases                        int64
deaths                       int64
countriesAndTerritories     object
popData2019                float64
continentExp                object
dtype: object

In [ ]:
corona.describe().transpose()

               count          mean  ...         75%           max
day          25517.0  1.576616e+01  ...        23.0  3.100000e+01
month        25517.0  4.120861e+00  ...         5.0  1.200000e+01
year         25517.0  2.019997e+03  ...      2020.0  2.020000e+03
cases        25517.0  3.616824e+02  ...        64.0  5.477100e+04
deaths       25517.0  1.870396e+01  ...         1.0  4.928000e+03
popData2019  25453.0  4.710659e+07  ...  31949789.0  1.433784e+09

[6 rows x 8 columns]

In [15]:
corona.isna().any()

day                        False
month                      False
year                       False
cases                      False
deaths                     False
countriesAndTerritories    False
popData2019                 True
continentExp               False
dtype: bool

In [16]:
corona.isna().sum()

day                         0
month                       0
year                        0
cases                       0
deaths                      0
countriesAndTerritories     0
popData2019                64
continentExp                0
dtype: int64

In [ ]:
corona.countriesAndTerritories.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia',
       'Cuba', 'CuraÃ§ao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia',
       'New_Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Sao_Tome_and_Principe', 'Saudi_Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra_Leone', 'Singapore', 'Sint_Maarten',
       'Slovakia', 'Slovenia', 'Somalia', 'South_Africa', 'South_Korea',
       'South_Sudan', 'Spain', 'Sri_Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand',
       'Timor_Leste', 'Togo', 'Trinidad_and_Tobago', 'Tunisia', 'Turkey',
       'Turks_and_Caicos_islands', 'Uganda', 'Ukraine',
       'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Western_Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [ ]:
len(corona.countriesAndTerritories.unique())

210

In [ ]:
corona['countriesAndTerritories'].value_counts()

Canada                                        177
France                                        177
Belgium                                       177
Iran                                          177
Denmark                                       177
                                             ...
Cases_on_an_international_conveyance_Japan     64
Western_Sahara                                 60
Tajikistan                                     55
Comoros                                        54
Lesotho                                        41
Name: countriesAndTerritories, Length: 210, dtype: int64

In [ ]:
population_mean = corona.popData2019.mean()
population_mean

47106591.20736259

In [ ]:
corona.popData2019 - population_mean

0       -9.064834e+06
1       -9.064834e+06
2       -9.064834e+06
3       -9.064834e+06
4       -9.064834e+06
             ...
25512   -3.246112e+07
25513   -3.246112e+07
25514   -3.246112e+07
25515   -3.246112e+07
25516   -3.246112e+07
Name: popData2019, Length: 25517, dtype: float64

In [ ]:
corona.countriesAndTerritories + ' - ' + corona.continentExp

0        Afghanistan - Asia
1        Afghanistan - Asia
2        Afghanistan - Asia
3        Afghanistan - Asia
4        Afghanistan - Asia
                ...
25512     Zimbabwe - Africa
25513     Zimbabwe - Africa
25514     Zimbabwe - Africa
25515     Zimbabwe - Africa
25516     Zimbabwe - Africa
Length: 25517, dtype: object

In [ ]:
corona

         dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
0     2020-06-24   24      6  ...                   AFG   38041757.0          Asia
1     2020-06-23   23      6  ...                   AFG   38041757.0          Asia
2     2020-06-22   22      6  ...                   AFG   38041757.0          Asia
3     2020-06-21   21      6  ...                   AFG   38041757.0          Asia
4     2020-06-20   20      6  ...                   AFG   38041757.0          Asia
...          ...  ...    ...  ...                   ...          ...           ...
25512 2020-03-25   25      3  ...                   ZWE   14645473.0        Africa
25513 2020-03-24   24      3  ...                   ZWE   14645473.0        Africa
25514 2020-03-23   23      3  ...                   ZWE   14645473.0        Africa
25515 2020-03-22   22      3  ...                   ZWE   14645473.0        Africa
25516 2020-03-21   21      3  ...                   ZWE   14645473.0        Africa

[25517 rows x 11 columns]

In [ ]:
corona.groupby('countriesAndTerritories').deaths.max()

countriesAndTerritories
Afghanistan       42
Albania            3
Algeria           42
Andorra            4
Angola             2
                  ..
Vietnam            0
Western_Sahara     1
Yemen             44
Zambia             7
Zimbabwe           2
Name: deaths, Length: 210, dtype: int64

In [ ]:
corona.groupby(['continentExp']).apply(lambda df: df.loc[df.deaths.idxmax()])

                dateRep  day  ...   popData2019  continentExp
continentExp                  ...
Africa       2020-06-24   24  ...  5.855827e+07        Africa
America      2020-04-16   16  ...  3.290649e+08       America
Asia         2020-06-17   17  ...  1.366418e+09          Asia
Europe       2020-04-04    4  ...  6.701288e+07        Europe
Oceania      2020-04-04    4  ...  2.520320e+07       Oceania
Other        2020-02-29   29  ...           NaN         Other

[6 rows x 11 columns]

In [21]:
corona.groupby(['continentExp']).deaths.agg([len, max, min, sum])

               len   max   min     sum
continentExp
Africa        5686   168     0    9480
America       5453  4928     0  244783
Asia          6248  2003     0   53309
Europe        7954  2004 -1918  190807
Oceania        948     7     0     133
Other           64     2     0       7

In [23]:
corona.loc[ corona.continentExp == 'Africa']

         dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
283   2020-06-28   28      6  ...                   DZA   43053054.0        Africa
284   2020-06-27   27      6  ...                   DZA   43053054.0        Africa
285   2020-06-26   26      6  ...                   DZA   43053054.0        Africa
286   2020-06-25   25      6  ...                   DZA   43053054.0        Africa
287   2020-06-24   24      6  ...                   DZA   43053054.0        Africa
...          ...  ...    ...  ...                   ...          ...           ...
26348 2020-03-25   25      3  ...                   ZWE   14645473.0        Africa
26349 2020-03-24   24      3  ...                   ZWE   14645473.0        Africa
26350 2020-03-23   23      3  ...                   ZWE   14645473.0        Africa
26351 2020-03-22   22      3  ...                   ZWE   14645473.0        Africa
26352 2020-03-21   21      3  ...                   ZWE   14645473.0        Africa

[5686 rows x 11 columns]

In [28]:
corona.loc[ corona.continentExp == 'Africa'].deaths

283      7
284      7
285      9
286      8
287      9
        ..
26348    0
26349    1
26350    0
26351    0
26352    0
Name: deaths, Length: 5686, dtype: int64

In [26]:
corona.loc[ corona.continentExp == 'Africa'].deaths.sum()

9480

In [27]:
corona.loc[ corona.continentExp == 'Africa'].deaths.max()

168

In [42]:
corona.loc[ (corona.continentExp == 'Europe') & ((corona.deaths < 0 ) | (corona.deaths < 0)) ]

         dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
12526 2020-06-25   25      6  ...                   ITA   60359546.0        Europe
22543 2020-05-25   25      5  ...                   ESP   46937060.0        Europe

[2 rows x 11 columns]

In [44]:
corona.loc[ corona.countriesAndTerritories == 'United_States_of_America'].deaths

25237     500
25238     623
25239    2437
25240     751
25241     826
         ...
25413       0
25414       0
25415       0
25416       0
25417       0
Name: deaths, Length: 181, dtype: int64

In [45]:
corona.loc[ corona.countriesAndTerritories == 'United_States_of_America'].deaths.sum()

125539

In [18]:
len([10, 0, 29])

3

In [19]:
max([10, 0, 29])

29

In [ ]:
corona.describe().transpose()

               count          mean  ...         75%           max
day          25517.0  1.576616e+01  ...        23.0  3.100000e+01
month        25517.0  4.120861e+00  ...         5.0  1.200000e+01
year         25517.0  2.019997e+03  ...      2020.0  2.020000e+03
cases        25517.0  3.616824e+02  ...        64.0  5.477100e+04
deaths       25517.0  1.870396e+01  ...         1.0  4.928000e+03
popData2019  25453.0  4.710659e+07  ...  31949789.0  1.433784e+09

[6 rows x 8 columns]

In [ ]:
corona.corr()

                  day     month      year     cases    deaths  popData2019
day          1.000000 -0.110026 -0.090516  0.000740 -0.003561    -0.007343
month       -0.110026  1.000000 -0.262057  0.090572  0.054351    -0.086769
year        -0.090516 -0.262057  1.000000  0.009066  0.007911    -0.012204
cases        0.000740  0.090572  0.009066  1.000000  0.810267     0.190112
deaths      -0.003561  0.054351  0.007911  0.810267  1.000000     0.140856
popData2019 -0.007343 -0.086769 -0.012204  0.190112  0.140856     1.000000

In [ ]:
avg_by_country = corona.groupby('countriesAndTerritories')[['deaths','cases']].agg([sum]).sort_values(by=('deaths','sum'))
avg_by_country = avg_by_country / 6 * 30
avg_by_country

                               deaths       cases
                                  sum         sum
countriesAndTerritories
Fiji                              0.0        90.0
Timor_Leste                       0.0       120.0
Dominica                          0.0        90.0
Eritrea                           0.0       715.0
Falkland_Islands_(Malvinas)       0.0        65.0
...                               ...         ...
France                       148600.0    806335.0
Italy                        173375.0   1194165.0
United_Kingdom               214635.0   1531050.0
Brazil                       263225.0   5729530.0
United_States_of_America     606140.0  11735110.0

[210 rows x 2 columns]

In [ ]:
corona.loc[corona['deaths'].idxmax()]

dateRep                         2020-04-16 00:00:00
day                                              16
month                                             4
year                                           2020
cases                                         30148
deaths                                         4928
countriesAndTerritories    United_States_of_America
geoId                                            US
countryterritoryCode                            USA
popData2019                             3.29065e+08
continentExp                                America
Name: 24510, dtype: object

In [ ]:
corona.groupby('countriesAndTerritories').deaths.sum()

countriesAndTerritories
Afghanistan       618
Albania            45
Algeria           861
Andorra            52
Angola             10
                 ...
Vietnam             0
Western_Sahara      1
Yemen             261
Zambia             18
Zimbabwe            6
Name: deaths, Length: 210, dtype: int64

In [ ]:
corona.groupby('countriesAndTerritories').deaths.sum().idxmax()

'United_States_of_America'

In [ ]:
corona.groupby('countriesAndTerritories').deaths.sum().idxmin()

'Anguilla'

In [ ]:
data_cases = {}
for index, row in corona.iterrows():
  data_cases[row['countriesAndTerritories']] = data_cases.get(row['countriesAndTerritories'], 0) +  row['cases']

In [ ]:
data_deaths = {}
for index, row in corona.iterrows():
  data_deaths[row['countriesAndTerritories']] = data_deaths.get(row['countriesAndTerritories'], 0) +  row['deaths']